{%extends 'base.html' %}
{% block content %}

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="Chart"></canvas>
                </div>
            </div>
        </div>
    </div>
<div class="ct-chart ct-perfect-fourth">
    <script>
        class MyCharts{

            constructor(xData, YData)
            {
            this.XData = XData;
            this.YData = YData;
            }

            createGraph()
            {
            var data =
                    {
                        labels: this.XData,
                        series:[
                                this.YData
                        ]
                    }
            new Chartist.Line('.ct-chart', data);
            }
            }

            var XData= ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'];
            var YData = [5, 2, 4, 2, 0];
            var data = $.get('/temperature');
            var tm = data.done(function (resp) {
            console.log("JSON DATA", resp.temperature);
            var obj = new MyCharts(XData, resp.temperature);
            obj.createGraph();

})

    </script>
</div>
{% endblock %}

